@import "_nullstyle";
//------------------- Fonts -------------------//

//------------------- Basis Class -------------------//
.wrapper {width: 100%;min-height: 100vh;overflow: hidden;}
.container {max-width: 1180px; margin: 0 auto;}
body {font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
//------------------- Independent Class -------------------//
.title {font-size: 30px;color: #445161;line-height: 36px;margin-bottom: 30px;}
//------------------- Header Block -------------------//
.header {
   background-color: #445162;
   padding: 50px;
   @media screen and (max-width: 1024px) {
      padding: 25px;
   }

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @media screen and (max-width: 1024px) {
         justify-content: center;
      }
   }

   &__text {
      color: #fff;
      margin-right: 25px;
   }

   &__title {
      font-size: 60px;
      margin-bottom: 45px;
   }

   &__list {
   }

   &__item {
      font-size: 20px;
      line-height: 36px;
      position: relative;
      padding-left: 35px;
      &::after {
         content: url('../img/check_icon.png');
         position: absolute;
         top: 1px;
         left: 0;
      }
   }

   &__image {
      @media screen and (max-width: 1024px) {
         margin-top: 30px;
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}
//------------------- Description Block -------------------//
.description-block {
   padding: 50px;
   @media screen and (max-width: 1024px) {
      padding: 25px 50px;
   }
   @media screen and (max-width: 425px) {
      padding: 20px;
   }

   &__body {
      display: flex;
      @media screen and (max-width: 1024px) {
         flex-wrap: wrap;
      }
   }

   &__image {
      margin-right: 50px;
      @media screen and (max-width: 1024px) {
         margin: 0 auto 20px;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
      @media screen and (max-width: 425px) {
         img {
            display: none;
         }
      }
   }

   &__text {
   }

   &__title {
      @media screen and (max-width: 1024px) {
         text-align: center;
      }
   }

   &__subtitle {
      font-size: 16px;
      color: #333333;
      line-height: 24px;
      p {
         margin-bottom: 30px;
      }
   }
}
//------------------- Columns Block -------------------//
.columns {
   background-color: #f5f5f5;
   padding: 50px 50px 20px 50px;
   @media screen and (max-width: 425px) {
      padding: 20px;
   }

   &__body {
   }

   &__title {
      text-align: center;
   }

   &__row {
      display: flex;
      @media screen and (max-width: 1024px) {
         flex-wrap: wrap;
      }
   }

   &__column {
   }

   &__item {
      margin-bottom: 30px;
   }
}
.item {
   display: flex;
   @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
   }

   &__image {
      margin-right: 15px;
      @media screen and (max-width: 768px) {
         margin: 0 0 10px 0
      }
   }

   &__title {
      font-size: 24px;
      color: #445161;
      margin-bottom: 10px;
      line-height: 30px;
      @media screen and (max-width: 768px) {
         text-align: center;
      }
   }

   &__text {
      font-size: 16px;
      color: #333333;
      line-height: 24px;
      padding-right: 15px;
   }
}
//------------------- Cards Block -------------------//
.cards {
   padding: 50px;
   @media screen and (max-width: 425px) {
      padding: 20px;
   }

   &__body {
   }

   &__title {
      text-align: center;
      margin-bottom: 10px;
   }

   &__row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 95px;
      margin: 0 -22.5px;
      @media screen and (max-width: 768px) {
         padding: 0;
      }
   }

   &__card {
      width: 300px;
      margin: 20px 22.5px 0 22.5px;
      @media screen and (max-width: 425px) {
         margin: 20px 0 0 0;
      }
   }
}
.card {
   background-color: #445162;
   border-radius: 5px;
   min-height: 100%;
   display: flex;
   flex-direction: column;

   &__header {
      text-align: center;
   }

   &__title {
      font-size: 24px;
      color: #fff;
      text-transform: uppercase;
      padding: 15px 0;
   }

   &__subtitle {
      width: 100%;
      background-color: #fff;
      font-size: 40px;
      color: #445162;
      border: 2px solid #445162;
      padding: 10px 0 15px 0;
   }

   &__text {
      flex: 1 1 auto;
      color: #fff;
      line-height: 24px;
      padding: 20px;
      p {
         margin-bottom: 30px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }

   &__footer {
      text-align: center;
      margin-bottom: 20px;
   }

   &__btn {
      display: block;
      background-color: #fff;
      color: #445161;
      font-size: 18px;
      font-weight: 600;
      padding: 15px 0;
      margin: 0 20px;
      border-radius: 5px;
   }
}
//------------------- Footer Block -------------------//
.footer {
   background-color: #f5f5f5;
   padding: 30px 0;

   &__row {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
   }

   &__text {
      font-size: 12px;
      color: #445162;
   }
}